@import '@fontsource/roboto/300.css';

#root {
  width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font: 300 1em 'Roboto', sans-serif;
  scrollbar-gutter: both-edges;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.inputContainer {
  width: 100%;
}

.container {
  margin: 20px 2.5vw 2.5vw 2.5vw;
  border-radius: 10px;
  background-color: #181825;
  padding: 10px;
  overflow: hidden;
}

.summaryContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: stretch;

}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summaryCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
  background-color: #11111b;
  padding: inherit;
  margin: 5px;
  border-radius: inherit;
  box-shadow: 0 1px 5px #000000;
}

.summaryTitle {
  font-size: 1.2em;
  font-weight: bold;
}

.skillContainer {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

@media (min-width: 2000px) {
  .skillContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width:200px;
  background-color: #11111b;
  padding: inherit;
  margin: 5px;
  border-radius: inherit;
  box-shadow: 0 1px 5px #000000;
}

.summaryCard:hover,
.skillCard:hover {
  box-shadow: 0 1px 10px #000000;
}

.skillIcon {
    display: inline-flex;           
    align-items: center;
    justify-content: center;
    width: 40px;                   
    height: 40px;                   
    border: 2px solid #333;         
    border-radius: 6px;             
    margin-right: 8px;              
    box-sizing: border-box;
}

.skillTop {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skillBottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skillTitle {
  font-size: 1.2em;
  font-weight: bold;
}